<div class="flex flex-col w-full h-[100vh] relative items-center justify-center bg-slate-800">
    <form (ngSubmit)="signup()" class="flex flex-col space-y-6 w-full max-w-2xl p-4 bg-white
    rounded-lg shadow-md p-8 space-y-8">
        <span class="text-3xl ">Sign Up for DreamCrafter</span>
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" type="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" name="password" type="password" required>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Sign Up</button>
        <p *ngIf="error" class="error">{{ error }}</p>
        <p>Already have an account? <a routerLink="/login">Log in</a></p>
    </form>
</div>